$base-background-color: #222222;
$nav-color: #ff724c;

$base-active-color: #fff;
$base-not-active-color: #a5a5a5;
$base-font-size: 14px;
$h4-font-size: 16px;
$h3-font-size: 19px;
$h2-font-size: 21px;
$h1-font-size: 23px