@import '../../resources/styles/variables.scss';

.menu {
    position: static;
    left: 0;
    top: 0;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    box-sizing: border-box;
    padding: 20px 0;

    width: 150px;
    max-width: 150px;
    height: 100vh;
    background: $base-background-color;
}