.menu {
    position: static;
    left: 0;
    top: 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 10vw;
    min-width: 100px;
    height: 100vh;
    background: red;
}